
body{
	background-image: url('../img/fondo.png');
}

.login{
	position: absolute;
	left: 30%;
	right: 30%;
	border-radius: 17px;
	top: 10%;
	text-align: center;
	background-color: #fff;

	-webkit-box-shadow: 0px 0px 22px -15px rgba(0,0,0,0.89); 
	box-shadow: 0px 0px 22px -15px rgba(0,0,0,0.89);
}

.login{
	border-top-left-radius: 17px;
	border-top-right-radius: 17px;
}

.loginbtn{
	margin-top: 20px;
	margin-bottom: 20px;
}

.formlogin{
	position: relative;
	top: -50px;
}

.formlogin .btn{
padding-right: 50px;
padding-left: 50px;
border-radius: 20px;
}





